/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ------- General Rules ------ */
html {
  width: 100%;
  font-size: 15px;
}
:root {
  scroll-behavior: smooth;
  --primary: #e1474d;
  --secondary: rgba(211, 19, 0, 0.74);
}
body {
  width: 100%;
  height: 100%;
  font-family: Poppins, Helvetica, Arial, Verdana, sans-serif;
  color: #252525;
  font-weight: 400;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0.8rem 0;
}
ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 50px 0;
  overflow: hidden;
  position: relative;
}

.__site_wrapper {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.section_title {
  text-align: center;
  padding-bottom: 30px;
}

.section_title h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  letter-spacing: 2px;
  color: var(--primary);
}
.section_title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section_title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--primary);
  bottom: 0;
  left: calc(50% - 20px);
}

.section_head {
  text-align: center;
  padding-bottom: 30px;
}
.section_head h2 {
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
}

/* ------- Main Navbar ------- */
.__main_navbar {
  width: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.__main_navbar .navbar > ul {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.__main_navbar .navbar ul > li {
  position: relative;
  padding: 8px 16px;
}
.__main_navbar .navbar ul > li > a {
  position: relative;
}
.__main_navbar .navbar ul > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--secondary);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.__main_navbar .navbar ul > li > a:hover::before {
  visibility: visible;
  width: 100%;
}
.navbar .others-option .option-item a.log-in {
  display: inline-block;
  padding: 15px 25px;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 5px;
}
.__main_navbar.navbar_scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9996;
  background-color: #fff;
}

/* ----- Mobile Navigation ------ */
.mobile_navigation > ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 10px;
}
.mobile_navigation > ul > li {
  position: relative;
}
.mobile_navigation ul > li > a {
  display: block;
  padding: 10px 0;
}
.mobile_navigation ul > li > a:hover {
  color: var(--secondary);
}
.mobile_navigation .log-in {
  display: block;
  padding: 15px 25px;
  background-color: var(--secondary);
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
#mortgage {
  background-color: var(--primary);
}
#mortgage .nav-tabs {
  border: 0;
}
#mortgage ul.nav-tabs button.nav-link {
  border-radius: 0;
  border: 0;
  color: #fff;
  border: 2px solid #fff;
  margin: 10px;
}
#mortgage ul.nav-tabs button.nav-link.active {
  background-color: #fff;
  border-radius: 0;
  color: var(--primary);
}

/* ---------- Website Main Content --------- */

/* ---- Home Page -----  */
.website_hero {
  width: 100%;
  height: 80vh;
  background-image: url("../img/coverpic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.website_hero::after {
  content: "";
  position: absolute;
  background-color: rgba(216, 156, 138, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.website_hero .hero_content {
  width: 100%;
  padding: 0 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
}
.hero_content .hero_main_title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.hero_content .hero_sub_title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.hero_content .explore_link {
  padding: 12px 28px;
  display: inline-block;
  text-align: center;
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
}
/* ----- Old code ------- */

#blog .blog_card {
  width: 100%;
  box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow: hidden;
}
.blog_card .blog_card_img {
  width: 100%;
  overflow: hidden;
}
.blog_card .blog_card_img img {
  transition: all 1s cubic-bezier(0, 0, 0.05, 1);
}
.blog_card:hover .blog_card_img img {
  transform: scale(1.1);
}
.blog_card .blog_card_info {
  padding: 20px;
}
.blog_card_info a.blog_heading {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.blog_card_info a.blog_heading:hover {
  color: var(--primary);
}
.blog_card_info a.blog_read_more {
  display: inline-block;
  padding: 12px 22px;
  background-color: var(--primary);
  color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
/* ------ OLD code ------ */

section#introduction {
  background-color: #fff4f0;
}
#introduction .introduction_title {
  text-transform: capitalize;
  font-weight: 600;
}
#introduction .introduction_read_more {
  display: inline-block;
  margin-top: 20px;
  font-weight: 500;
}
#introduction .introduction_read_more img {
  margin-left: 5px;
}
#find-mortgage .find_mortgage_left_side {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.find_mortgage_left_side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.find_mortgage_left_side .overlay_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.find_mortgage_left_side .overlay_content p {
  color: #fff;
  margin-bottom: 2rem;
}
.find_mortgage_left_side .overlay_content a {
  padding: 10px 20px;
  background-color: var(--primary);
  color: #fff;
  border-radius: 8px;
}
#find-mortgage .find_mortgage_right_side .find_mortgage_boxes {
  background-color: #fff4f0;
  padding: 24px;
  border-radius: 12px;
}
.find_mortgage_right_side .find_mortgage_boxes:not(:last-child) {
  margin-bottom: 15px;
}
.find_mortgage_right_side .find_mortgage_boxes h4 {
  font-weight: 700;
  line-height: 1.5;
}
.find_mortgage_boxes a img {
  margin-left: 5px;
}

section#mortgage-exp {
  background-color: #fff4f0;
  background-image: url("../img/figure-4.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#mortgage-exp ul li:not(:last-child) {
  margin-bottom: 30px;
}
#mortgage-exp .explore_exp {
  padding: 8px 22px;
  background-color: #252525;
  color: #fff;
  border-radius: 8px;
}
#statistics h2.stats_data {
  font-weight: 600;
  line-height: 1.5;
}
#statistics h5.stats_main {
  font-size: 18px;
}
#statistics .explore_stats {
  padding: 8px 22px;
  background-color: #252525;
  color: #fff;
  border-radius: 8px;
}
section#achievement {
  background-color: #fff4f0;
}
#achievement h2 {
  font-weight: 600;
  line-height: 1.5;
}
#achievement .register_with {
  padding: 8px 22px;
  background-color: #252525;
  color: #fff;
  border-radius: 8px;
}
#mortgage-principle {
  background-color: #fff4f0;
  background-image: url('../img/figure-6.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#recognised .swiper {
  width: 100%;
  height: 100%;
}
#recognised .swiper .swiper-button-next,
#recognised .swiper .swiper-button-prev {
  width: 40px;  
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#recognised .swiper .swiper-button-next::after,
#recognised .swiper .swiper-button-prev::after {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
}
/* --------- Footer --------- */

.footer {
  font-size: 14px;
  background-image: url("../img/low_contrast_linen.jpg");
  background-repeat: repeat;
  background-position: center center;
  padding: 50px 0;
  color: white;
  border-top: 5px solid var(--primary);
}
.footer-info p > a {
  color: var(--primary);
  text-decoration: underline;
}
.footer .footer-links {
  margin-bottom: 30px;
}
.footer .social_links a {
  width: 36px;
  height: 36px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  font-size: 18px;
  margin: 0 1rem;
}
.footer .footer_extra {
  margin-bottom: -20px;
  margin-top: 30px;
  text-align: center;
}
.footer .footer_extra p > a {
  text-decoration: underline;
}
